<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <ul>
            <li>
                <h1>Estudio 1</h1>
                <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sed distinctio quo quasi necessitatibus. Nesciunt atque recusandae dicta! Consequuntur reiciendis placeat porro architecto ipsa quasi molestias sapiente quibusdam rem sit.</p>
            </li>
            <li>
                <h1>Estudio 2</h1>
                <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sed distinctio quo quasi necessitatibus. Nesciunt atque recusandae dicta! Consequuntur reiciendis placeat porro architecto ipsa quasi molestias sapiente quibusdam rem sit.</p>
            </li>
            <li>
                <h1>Estudio 3</h1>
                <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus sed distinctio quo quasi necessitatibus. Nesciunt atque recusandae dicta! Consequuntur reiciendis placeat porro architecto ipsa quasi molestias sapiente quibusdam rem sit.</p>
            </li>
        </ul>
    </div>
</div>
