.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
}
img{
    width: 30px;
    margin: 8px;
    
}
.redes{
    margin-right: 10px;
    margin-left: 10px;
}

