<div>
    <a href="https://www.facebook.com/indiegena/" target="_blank"><img src="../../../assets/facebook.png" alt=""></a>
    <a href="https://www.instagram.com/unchinosolo/" target="_blank"><img src="../../../assets/instagram.png" alt=""></a>
    <a href="https://www.linkedin.com/in/lfabrego" target="_blank"><img src="../../../assets/linkedin.png" alt=""></a>
    <a href="https://twitter.com/unchino_solo" target="_blank"><img src="../../../assets/twitter.png" alt=""></a>
    <a href="https://github.com/unchinosolo/" target="_blank"><img src="../../../assets/github.png" alt=""></a>
</div>
