<div class="row">
    <hr>
    <h1>Hard & Soft Skills</h1>
    <hr>
    <div class="text-center col sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontSize]="'40px'"
        [titleColor]="'rgb(220, 100, 14)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(220, 100, 14)'"
        [innerStrokeColor]="'#6e6867'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'.NET'"
        [titleFontSize]="'40px'"
        [titleColor]="'rgb(220, 100, 14)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(220, 100, 14)'"
        [innerStrokeColor]="'#6e6867'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [title]="'JavaScript'"
        [titleFontSize]="'30px'"
        [titleColor]="'rgb(220, 100, 14)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(220, 100, 14)'"
        [innerStrokeColor]="'#6e6867'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS3'"
        [titleFontSize]="'40px'"
        [titleColor]="'rgb(220, 100, 14)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(220, 100, 14)'"
        [innerStrokeColor]="'#6e6867'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'JAVA'"
        [titleFontSize]="'40px'"
        [titleColor]="'rgb(220, 100, 14)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(220, 100, 14)'"
        [innerStrokeColor]="'#6e6867'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
    <div class="text-center col sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'GIT'"
        [titleFontSize]="'40px'"
        [titleColor]="'rgb(220, 100, 14)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'rgb(220, 100, 14)'"
        [innerStrokeColor]="'#6e6867'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>

    </div>
    
</div>
