<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Zona Tempo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, optio animi! Asperiores assumenda
                quos consequuntur animi, expedita fuga, alias illo pariatur repellat voluptate ipsum labore molestiae,
                porro sequi dolor doloribus?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/zona.png" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Bricks</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, optio animi! Asperiores assumenda
                quos consequuntur animi, expedita fuga, alias illo pariatur repellat voluptate ipsum labore molestiae,
                porro sequi dolor doloribus?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/bricks.png" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Audio Yack</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, optio animi! Asperiores assumenda
                quos consequuntur animi, expedita fuga, alias illo pariatur repellat voluptate ipsum labore molestiae,
                porro sequi dolor doloribus?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/audio.png" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
</div>