<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/cv-foto.jpg" class="img-fluid" alt="" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            {{persona.nombre}} {{persona.apellido}}
        </p>
        <hr class="linea">
        <p id="carrera">
            Full Stack Developer Jr.
        </p>
        
    </div>
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1 class="acerca">ACERCA DE MI</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam molestiae vitae blanditiis ratione
                quaerat earum. Soluta, totam quaerat? Doloremque ipsa, in distinctio ab labore deserunt ratione tenetur
                repellendus non vero!</p>
        </span>
    </div>
</div>